langchain
langgraph
langchain-community
boto3
aws
pandas
numpy
chromadb
langchain-core
langsmith
langchainhub
tiktoken
langchain_community
fmeval 
tiktoken 
langchain-aws 
docarray
pydantic==1.10.8
python-dotenv
ruff
bs4
ipytest
giskard[llm]
llama-index
docutils